In [311]:
import pandas as pd
import numpy as np
import os
import scipy

import pandas.tseries.offsets as offsets
import operator

import datetime
from dateutil.relativedelta import relativedelta


%matplotlib inline

In [178]:
# 自作関数の設定テスト
def _my_print(self):
    print("My func appended...")
def _I(self):
    return self
def _mypipe(self, func):
    return eval(self + "." + func)

pd.DataFrame().__class__._my_print = _my_print
pd.DataFrame().__class__._I = _I
pd.DataFrame().__class__._mypipe = _mypipe
df.groupby('hotel_id').__class__._mypipe = _mypipe

In [73]:
os.chdir("/Users/masamitsuochiai/Documents/wk/pre_process_samples/awesomebook-master/data")
print(os.getcwd())
print(os.listdir())

/Users/masamitsuochiai/Documents/wk/pre_process_samples/awesomebook-master/data
['reserve.csv', 'txt', 'monthly_index.csv', 'customer.csv', 'production.csv', 'holiday_mst.csv', 'hotel.csv', 'production_missing_num.csv', 'production_missing_num_4_redshift.csv', 'month_mst.csv', 'production_missing_category.csv']

In [179]:
df = pd.read_csv("./reserve.csv")
hotel = pd.read_csv("./hotel.csv")

In [205]:
# 【集約】極値・代表値の算出
(
df
    .groupby('hotel_id')
    .agg({'total_price': ['max', 'min', 'mean', 'median', lambda x: np.percentile(x, q=20)]})
    .reset_index()
    .rename(columns = {
        'max': 'price_ max', 
        'min': 'price_ min', 
        'mean': 'price_ mean', 
        'median': 'price_ median', 
        '<lambda>': 'price_ 20 per'})
)

    hotel_id total_price
              price_ max price_ min    price_ mean price_ median price_ 20 per
0        h_1      208800      26100  112230.000000        104400         73080
1       h_10       67200      11200   42933.333333         50400         26880
2      h_100       57600       4800   27600.000000         28800          9600
3      h_101      168000      14000   75764.705882         56000         30800
4      h_102       72000      12000   32769.230769         24000         18000
5      h_103      194400      32400   93960.000000         64800         48600
6      h_104      379800      42200  176472.727273        126600         84400
7      h_105       82400      20600   48753.333333         41200         30900
8      h_106      199800      44400  101133.333333         88800         57720
9      h_107      225600      37600  107672.727273        112800         75200
10     h_108      103200       8600   50166.666667         43000         17200
11     h_109       94500      10500   49000.000000         36750         23100
12      h_11      448800      37400  236866.666667        224400        127160
13     h_110      316800      26400  125907.692308        105600         79200
14     h_111      523200      43600  200560.000000        174400         87200
15     h_112      312000      78000  152100.000000        136500        109200
16     h_113      231600      19300  118769.230769        115800         57900
17     h_114      153600      19200   59345.454545         38400         38400
18     h_115      492000      82000  233941.176471        164000        131200
19     h_116      120600      13400   64487.500000         53600         26800
20     h_117      176400      14700   89330.769231         58800         29400
21     h_118      129600      10800   50188.235294         43200         21600
22     h_119       79200       6600   39211.764706         39600         19800
23      h_12       80400      13400   41540.000000         26800         20100
24     h_120      347200      43400  153346.666667        130200         86800
25     h_121      207000      23000  127384.615385        138000         69000
26     h_122       80400      13400   35561.538462         26800         20100
27     h_123       67200      16800   35127.272727         33600         22400
28     h_124      799200     133200  326340.000000        233100        186480
29     h_125      129600      21600   58984.615385         43200         32400
..       ...         ...        ...            ...           ...           ...
270     h_72      116400       9700   41352.631579         38800         19400
271     h_73      238800      39800  110871.428571         99500         51740
272     h_74       38400       9600   23127.272727         28800         14400
273     h_75       97200      16200   49950.000000         36450         24300
274     h_76      110400       9200   50600.000000         32200          9200
275     h_77      530400      44200  226525.000000        154700         88400
276     h_78      128400      10700   46178.947368         32100         21400
277     h_79      240000      20000   78181.818182         60000         40000
278      h_8      111600      12400   60760.000000         49600         22320
279     h_80      440400      36700  159033.333333        146800         73400
280     h_81      111600      12400   49600.000000         49600         27280
281     h_82      152400      12700   54665.217391         50800         25400
282     h_83      559800     124400  317911.111111        248800        186600
283     h_84      292800      48800  175680.000000        146400         92720
284     h_85      258000      21500  122857.142857         86000         64500
285     h_86      256800      64200  124120.000000         85600         64200
286     h_87       55800       6200   27383.333333         24800         13640
287     h_88      218700      24300  123369.230769         97200         72900
288     h_89      105600       8800   44676.923077         35200         21120
289      h_9      376800      31400  117036.363636         62800         31400
290     h_90       96000       8000   52235.294118         64000         16000
291     h_91      552000      92000  238363.636364        184000         92000
292     h_92      412800      34400  188188.235294        137600        137600
293     h_93      117600      19600   54880.000000         39200         27440
294     h_94      188400      15700   86873.333333         62800         43960
295     h_95      518400      43200  275815.384615        259200        146880
296     h_96       66600       7400   33015.384615         29600         17760
297     h_97      250800      20900   83600.000000         62700         20900
298     h_98      226800      18900   96723.529412         75600         56700
299     h_99      268800      44800  128000.000000         89600         67200

[300 rows x 6 columns]

In [228]:
# 【集約】分散値と標準偏差
(
df.groupby('hotel_id')
    .agg({'total_price': ['var', 'std']})
    .reset_index()
    .rename(columns={
         'var': 'price_var'
        ,'std': 'price_std'
    })
)

    hotel_id   total_price
                 price_var      price_std
0        h_1  3.186549e+09   56449.526127
1       h_10  8.258133e+08   28736.968061
2      h_100  3.198316e+08   17883.835689
3      h_101  2.402441e+09   49014.703676
4      h_102  3.576923e+08   18912.755159
5      h_103  3.545856e+09   59547.090609
6      h_104  1.168879e+10  108114.689945
7      h_105  4.162770e+08   20402.866279
8      h_106  3.217150e+09   56719.925952
9      h_107  2.833946e+09   53234.821140
10     h_108  1.208013e+09   34756.486205
11     h_109  8.886818e+08   29810.766816
12      h_11  1.629144e+10  127637.925398
13     h_110  5.825871e+09   76327.391998
14     h_111  2.221408e+10  149043.870819
15     h_112  5.222100e+09   72264.098970
16     h_113  4.894901e+09   69963.566526
17     h_114  2.097897e+09   45802.802614
18     h_115  1.676056e+10  129462.576923
19     h_116  1.441717e+09   37969.950838
20     h_117  4.050302e+09   63641.985416
21     h_118  1.034322e+09   32160.882341
22     h_119  4.109374e+08   20271.589798
23      h_12  7.661227e+08   27678.920981
24     h_120  9.651003e+09   98239.516828
25     h_121  3.757256e+09   61296.463277
26     h_122  4.068876e+08   20171.454189
27     h_123  2.451782e+08   15658.166617
28     h_124  4.479916e+10  211658.111113
29     h_125  1.120043e+09   33467.044640
..       ...           ...            ...
270     h_72  7.510693e+08   27405.643547
271     h_73  4.064542e+09   63753.762225
272     h_74  8.210618e+07    9061.246152
273     h_75  1.095488e+09   33098.159795
274     h_76  2.259888e+09   47538.279313
275     h_77  2.914180e+10  170709.685334
276     h_78  1.221896e+09   34955.631861
277     h_79  4.196364e+09   64779.345754
278      h_8  1.860496e+09   43133.467285
279     h_80  1.128822e+10  106246.039702
280     h_81  7.268655e+08   26960.442403
281     h_82  1.091417e+09   33036.599659
282     h_83  2.557733e+10  159929.144033
283     h_84  8.705486e+09   93303.195134
284     h_85  7.426478e+09   86177.015625
285     h_86  6.085780e+09   78011.406573
286     h_87  2.617997e+08   16180.225492
287     h_88  4.474097e+09   66888.693422
288     h_89  7.803569e+08   27934.869305
289      h_9  1.224383e+10  110651.843841
290     h_90  1.016941e+09   31889.515150
291     h_91  2.827745e+10  168159.015653
292     h_92  1.022388e+10  101113.215521
293     h_93  1.412855e+09   37587.964977
294     h_94  3.129249e+09   55939.692867
295     h_95  3.313772e+10  182037.696857
296     h_96  3.159231e+08   17774.225072
297     h_97  5.474685e+09   73991.116584
298     h_98  3.432893e+09   58590.896578
299     h_99  5.745428e+09   75798.599541

[300 rows x 3 columns]

In [314]:
# 【集約】最頻値の算出
(
df
    .loc[:, ['total_price']]
    .assign(
        round_price=lambda df: df.total_price.round(-3)
    )['round_price']
    .mode()
    .reset_index()
#     .plot.bar()
)

   index      0
0      0  10000
1      1  20000
2      2  40000

In [217]:
# 【集約】順位の算出
(
df
    .groupby('hotel_id')
    .size()
    .reset_index()
    .rename(columns={
        0: 'rsv_cnt'
    })
    .assign(
        rsv_cnt_rank=lambda df: df.rsv_cnt.rank(ascending=False, method='min').astype(np.int64)
    )
    .loc[:, ['hotel_id', 'rsv_cnt_rank']]
    .sort_values('rsv_cnt_rank')
    .pipe(
#         lambda df: df[df.rsv_cnt_rank < 10]
        lambda df: df.query('rsv_cnt_rank < 10')
    )
)

    hotel_id  rsv_cnt_rank
158    h_241             1
50     h_144             2
231     h_37             3
48     h_142             3
281     h_82             5
87     h_178             5
129    h_215             7
117    h_204             7
228     h_34             7

In [229]:
# 【集約】ランキングによるグルーピング
(
hotel
    .groupby(['big_area_name', 'small_area_name'], as_index = False) \
    .size()
    .reset_index()
    .rename(columns={
        0: 'hotel_cnt'
    })
    .assign(
        join_area_id=lambda df: np.where(df['hotel_cnt']-1 >= 20, 
                                         df['small_area_name'], 
                                         df['big_area_name'])
    )
    .loc[:, ['small_area_name', 'join_area_id']]
    .pipe(
        lambda df: pd.merge(df, hotel, on='small_area_name')
    )
    .loc[:, ['hotel_id', 'join_area_id']]
)

    hotel_id join_area_id
0        h_2          A-1
1       h_19          A-1
2       h_25          A-1
3       h_30          A-1
4       h_35          A-1
5       h_42          A-1
6       h_69          A-1
7       h_86          A-1
8       h_89          A-1
9       h_94          A-1
10      h_98          A-1
11     h_101          A-1
12     h_104          A-1
13     h_139          A-1
14     h_144          A-1
15     h_152          A-1
16     h_161          A-1
17     h_181          A-1
18     h_203          A-1
19     h_204          A-1
20     h_207          A-1
21     h_212          A-1
22     h_215          A-1
23     h_216          A-1
24     h_227          A-1
25     h_239          A-1
26     h_241          A-1
27     h_243          A-1
28     h_248          A-1
29     h_255          A-1
..       ...          ...
270    h_165            F
271    h_198            F
272    h_281            F
273    h_296            F
274     h_11            G
275     h_18            G
276     h_57            G
277    h_108            G
278    h_166            G
279    h_185            G
280    h_191            G
281    h_234            G
282    h_286            G
283     h_68            G
284    h_116            G
285    h_118            G
286    h_155            G
287      h_5            G
288     h_55            G
289    h_120            G
290    h_146            G
291    h_225            G
292    h_270            G
293     h_53            G
294    h_173            G
295    h_179            G
296    h_183            G
297    h_188            G
298    h_190            G
299    h_287            G

[300 rows x 2 columns]

In [250]:
# 【結合】n件前のデータ取得
(
df
    .groupby('customer_id')
    .apply(
        lambda df: df.sort_values(by='reserve_datetime', axis=0, inplace=False)
    )
    .assign(
        before_price=lambda df: pd.Series(df['total_price'].shift(periods=2))
    )
    .assign(
        before_price=lambda df: df['before_price'].fillna(0)
    )
)

                 reserve_id hotel_id customer_id     reserve_datetime  \
customer_id
c_1         0            r1     h_75         c_1  2016-03-06 13:09:42
            1            r2    h_219         c_1  2016-07-16 23:39:55
            2            r3    h_179         c_1  2016-09-24 10:03:17
            3            r4    h_214         c_1  2017-03-08 03:20:10
            4            r5     h_16         c_1  2017-09-05 19:50:37
            5            r6    h_241         c_1  2017-11-27 18:47:05
            6            r7    h_256         c_1  2017-12-29 10:38:36
            7            r8    h_241         c_1  2018-05-26 08:42:51
c_10        58          r59    h_245        c_10  2016-06-20 11:10:52
            59          r60    h_102        c_10  2016-10-23 01:56:42
            60          r61     h_62        c_10  2017-03-12 00:45:50
            61          r62     h_21        c_10  2017-07-29 17:48:41
            62          r63    h_142        c_10  2017-09-11 19:41:28
            63          r64    h_112        c_10  2018-03-07 00:43:22
c_100       434        r435    h_245       c_100  2016-02-15 18:42:25
            435        r436    h_155       c_100  2016-06-06 13:31:31
            436        r437    h_179       c_100  2016-07-25 13:11:16
            437        r438    h_102       c_100  2017-01-27 03:26:39
            438        r439    h_272       c_100  2017-08-16 12:12:32
c_1000      4028      r4029     h_48      c_1000  2016-04-16 15:20:17
            4029      r4030    h_117      c_1000  2016-06-06 08:16:51
c_101       439        r440     h_64       c_101  2016-05-19 20:23:21
            440        r441     h_50       c_101  2016-11-12 17:20:07
            441        r442    h_265       c_101  2017-02-04 02:02:45
            442        r443    h_154       c_101  2017-07-26 03:44:09
            443        r444    h_215       c_101  2017-11-10 16:30:07
c_102       444        r445     h_72       c_102  2016-06-19 13:25:48
c_103       445        r446    h_234       c_103  2016-06-13 06:22:23
            446        r447    h_141       c_103  2016-08-30 17:20:01
            447        r448    h_164       c_103  2017-03-07 00:27:08
...                     ...      ...         ...                  ...
c_993       3998      r3999     h_72       c_993  2016-06-09 04:35:48
            3999      r4000    h_193       c_993  2016-09-08 21:27:41
            4000      r4001    h_253       c_993  2017-01-20 18:50:35
            4001      r4002    h_263       c_993  2017-02-20 16:13:02
            4002      r4003    h_262       c_993  2017-08-01 23:47:40
            4003      r4004    h_201       c_993  2017-08-31 01:33:58
c_994       4004      r4005    h_150       c_994  2016-03-25 11:51:26
c_995       4005      r4006    h_290       c_995  2016-05-14 21:35:27
            4006      r4007     h_76       c_995  2016-07-11 06:45:26
            4007      r4008     h_52       c_995  2016-11-02 06:42:54
            4008      r4009    h_213       c_995  2016-12-10 19:23:02
            4009      r4010     h_84       c_995  2017-02-04 02:00:05
            4010      r4011    h_137       c_995  2017-08-13 19:23:48
            4011      r4012     h_54       c_995  2018-03-08 03:54:07
            4012      r4013     h_13       c_995  2018-07-04 18:54:55
c_996       4013      r4014     h_27       c_996  2016-05-29 18:33:42
            4014      r4015    h_225       c_996  2016-12-03 21:40:17
            4015      r4016    h_239       c_996  2016-12-29 02:10:09
            4016      r4017     h_96       c_996  2017-06-19 11:26:29
            4017      r4018    h_204       c_996  2017-08-20 17:56:37
            4018      r4019    h_224       c_996  2017-12-10 19:39:53
            4019      r4020    h_243       c_996  2018-04-22 20:41:29
c_997       4020      r4021    h_159       c_997  2016-01-08 20:30:10
            4021      r4022    h_172       c_997  2016-05-13 09:08:55
c_999       4022      r4023      h_4       c_999  2016-04-21 21:50:14
            4023      r4024    h_244       c_999  2016-10-06 18:01:34
            4024      r4025    h_160       c_999  2017-03-11 11:56:05
            4025      r4026    h_129       c_999  2017-06-27 23:00:02
            4026      r4027     h_97       c_999  2017-09-29 05:24:57
            4027      r4028     h_27       c_999  2018-03-14 05:01:45

                 checkin_date checkin_time checkout_date  people_num  \
customer_id
c_1         0      2016-03-26     10:00:00    2016-03-29           4
            1      2016-07-20     11:30:00    2016-07-21           2
            2      2016-10-19     09:00:00    2016-10-22           2
            3      2017-03-29     11:00:00    2017-03-30           4
            4      2017-09-22     10:30:00    2017-09-23           3
            5      2017-12-04     12:00:00    2017-12-06           3
            6      2018-01-25     10:30:00    2018-01-28           1
            7      2018-06-08     10:00:00    2018-06-09           1
c_10        58     2016-07-08     11:00:00    2016-07-10           4
            59     2016-11-01     11:00:00    2016-11-03           3
            60     2017-04-08     10:00:00    2017-04-10           2
            61     2017-08-06     12:00:00    2017-08-08           4
            62     2017-09-13     10:00:00    2017-09-15           2
            63     2018-03-13     12:30:00    2018-03-14           3
c_100       434    2016-03-01     11:00:00    2016-03-02           1
            435    2016-06-17     09:00:00    2016-06-18           3
            436    2016-08-11     10:30:00    2016-08-13           3
            437    2017-02-17     11:00:00    2017-02-20           1
            438    2017-08-16     10:00:00    2017-08-18           2
c_1000      4028   2016-05-10     09:30:00    2016-05-13           4
            4029   2016-07-06     09:00:00    2016-07-09           1
c_101       439    2016-06-07     09:30:00    2016-06-08           4
            440    2016-11-12     11:30:00    2016-11-15           1
            441    2017-03-01     09:00:00    2017-03-04           2
            442    2017-07-26     12:30:00    2017-07-29           3
            443    2017-11-29     11:30:00    2017-11-30           1
c_102       444    2016-07-06     09:30:00    2016-07-08           2
c_103       445    2016-06-20     12:00:00    2016-06-22           1
            446    2016-09-17     12:00:00    2016-09-19           2
            447    2017-03-20     12:00:00    2017-03-22           1
...                       ...          ...           ...         ...
c_993       3998   2016-07-04     12:00:00    2016-07-07           1
            3999   2016-09-23     12:30:00    2016-09-25           2
            4000   2017-02-10     11:00:00    2017-02-12           1
            4001   2017-02-27     10:30:00    2017-02-28           3
            4002   2017-08-03     10:00:00    2017-08-05           3
            4003   2017-09-13     09:30:00    2017-09-15           3
c_994       4004   2016-04-02     09:00:00    2016-04-03           1
c_995       4005   2016-06-12     10:00:00    2016-06-15           4
            4006   2016-07-31     10:30:00    2016-08-03           4
            4007   2016-11-27     12:00:00    2016-11-28           3
            4008   2016-12-24     12:00:00    2016-12-25           4
            4009   2017-03-01     10:00:00    2017-03-04           2
            4010   2017-09-07     09:30:00    2017-09-09           1
            4011   2018-03-20     10:30:00    2018-03-22           1
            4012   2018-07-04     11:00:00    2018-07-05           2
c_996       4013   2016-06-11     12:00:00    2016-06-14           3
            4014   2016-12-22     11:30:00    2016-12-23           3
            4015   2017-01-14     10:30:00    2017-01-16           2
            4016   2017-07-05     10:30:00    2017-07-07           2
            4017   2017-09-06     12:30:00    2017-09-07           2
            4018   2017-12-20     11:30:00    2017-12-23           3
            4019   2018-05-21     12:00:00    2018-05-22           2
c_997       4020   2016-01-09     12:00:00    2016-01-11           2
            4021   2016-06-06     09:30:00    2016-06-08           3
c_999       4022   2016-04-22     12:00:00    2016-04-25           4
            4023   2016-10-07     11:30:00    2016-10-09           3
            4024   2017-03-27     10:00:00    2017-03-30           1
            4025   2017-07-10     09:30:00    2017-07-11           2
            4026   2017-10-09     10:30:00    2017-10-10           2
            4027   2018-04-02     11:30:00    2018-04-04           2

                  total_price  before_price
customer_id
c_1         0           97200           0.0
            1           20600           0.0
            2           33600       97200.0
            3          194400       20600.0
            4           68100       33600.0
            5           36000      194400.0
            6          103500       68100.0
            7            6000       36000.0
c_10        58         110400      103500.0
            59          36000        6000.0
            60         187200      110400.0
            61          89600       36000.0
            62          37200      187200.0
            63         117000       89600.0
c_100       434         13800       37200.0
            435         72300      117000.0
            436         33600       13800.0
            437         18000       72300.0
            438        113600       33600.0
c_1000      4028       540000       18000.0
            4029        44100      113600.0
c_101       439         64000      540000.0
            440         15300       44100.0
            441        111600       64000.0
            442         87300       15300.0
            443         15400      111600.0
c_102       444         38800       87300.0
c_103       445         11200       15400.0
            446         70800       38800.0
            447         25400       11200.0
...                       ...           ...
c_993       3998        29100       39600.0
            3999       234000       39200.0
            4000        10400       29100.0
            4001        68700      234000.0
            4002       114000       10400.0
            4003        53400       68700.0
c_994       4004        25200      114000.0
c_995       4005       190800       53400.0
            4006       110400       25200.0
            4007        81300      190800.0
            4008        20800      110400.0
            4009       146400       81300.0
            4010        12400       20800.0
            4011        25600      146400.0
            4012         9400       12400.0
c_996       4013       168300       25600.0
            4014        21600        9400.0
            4015       226000      168300.0
            4016        29600       21600.0
            4017        24200      226000.0
            4018        36000       29600.0
            4019        55400       24200.0
c_997       4020       258800       36000.0
            4021        96000       55400.0
c_999       4022        62400      258800.0
            4023        59400       96000.0
            4024        37200       62400.0
            4025        16000       59400.0
            4026        41800       37200.0
            4027        74800       16000.0

[4030 rows x 10 columns]

In [263]:
# 【結合】過去n件の合計値
(
df
    .assign(
        price_sum=lambda df: df
                                            .groupby('customer_id')
                                            .apply(
                                               lambda df: df.sort_values(by='reserve_datetime', ascending=True)
                                            )
                                            .loc[:, 'total_price']
                                            .rolling(center=False, window=3, min_periods=3).sum()
                                            .reset_index(drop=True)
    )
)

,reserve_id,hotel_id,customer_id,reserve_datetime,checkin_date,checkin_time,checkout_date,people_num,total_price,price_sum
0,r1,h_75,c_1,2016-03-06 13:09:42,2016-03-26,10:00:00,2016-03-29,4,97200,NaN
1,r2,h_219,c_1,2016-07-16 23:39:55,2016-07-20,11:30:00,2016-07-21,2,20600,NaN
2,r3,h_179,c_1,2016-09-24 10:03:17,2016-10-19,09:00:00,2016-10-22,2,33600,151400.0
3,r4,h_214,c_1,2017-03-08 03:20:10,2017-03-29,11:00:00,2017-03-30,4,194400,248600.0
4,r5,h_16,c_1,2017-09-05 19:50:37,2017-09-22,10:30:00,2017-09-23,3,68100,296100.0
5,r6,h_241,c_1,2017-11-27 18:47:05,2017-12-04,12:00:00,2017-12-06,3,36000,298500.0
6,r7,h_256,c_1,2017-12-29 10:38:36,2018-01-25,10:30:00,2018-01-28,1,103500,207600.0
7,r8,h_241,c_1,2018-05-26 08:42:51,2018-06-08,10:00:00,2018-06-09,1,6000,145500.0
8,r9,h_217,c_2,2016-03-05 13:31:06,2016-03-25,09:30:00,2016-03-27,3,68400,219900.0
9,r10,h_240,c_2,2016-06-25 09:12:22,2016-07-14,11:00:00,2016-07-17,4,320400,152400.0
10,r11,h_183,c_2,2016-11-19 12:49:10,2016-12-08,11:00:00,2016-12-11,1,29700,333600.0
11,r12,h_268,c_2,2017-05-24 10:06:21,2017-06-20,09:00:00,2017-06-21,4,81600,312800.0
12,r13,h_223,c_2,2017-10-19 03:03:30,2017-10-21,09:30:00,2017-10-23,1,137000,314000.0
13,r14,h_133,c_2,2018-02-18 05:12:58,2018-03-12,10:00:00,2018-03-15,2,75600,243800.0
14,r15,h_92,c_2,2018-04-19 11:25:00,2018-05-04,12:30:00,2018-05-05,2,68800,168000.0
15,r16,h_135,c_2,2018-07-06 04:18:28,2018-07-08,10:00:00,2018-07-09,4,46400,203100.0
16,r17,h_115,c_3,2016-05-10 12:20:32,2016-05-17,10:00:00,2016-05-19,2,164000,119700.0
17,r18,h_132,c_3,2016-10-22 02:18:48,2016-11-12,12:00:00,2016-11-13,1,20400,123900.0
18,r19,h_23,c_3,2017-01-11 22:54:09,2017-02-08,10:00:00,2017-02-10,3,390600,165200.0
19,r20,h_292,c_3,2017-02-23 07:10:30,2017-03-03,11:00:00,2017-03-04,2,18200,671600.0
20,r21,h_153,c_3,2017-04-06 18:12:10,2017-04-16,09:00:00,2017-04-19,3,126900,697700.0
21,r22,h_12,c_3,2017-07-24 19:15:54,2017-08-08,09:00:00,2017-08-09,4,26800,648100.0
22,r23,h_61,c_3,2017-12-16 23:31:04,2018-01-09,09:00:00,2018-01-12,1,224400,123400.0
23,r24,h_34,c_3,2018-04-27 08:51:07,2018-05-07,09:30:00,2018-05-10,4,102000,190900.0
24,r25,h_277,c_4,2016-03-28 07:17:34,2016-04-07,10:30:00,2016-04-10,1,39300,214200.0
25,r26,h_132,c_4,2016-05-11 17:48:07,2016-06-05,11:30:00,2016-06-06,1,20400,214300.0
26,r27,h_97,c_4,2016-07-08 14:10:06,2016-07-16,10:30:00,2016-07-17,2,41800,141500.0
27,r28,h_119,c_4,2016-10-07 04:38:54,2016-11-04,10:00:00,2016-11-06,4,52800,65400.0
28,r29,h_222,c_4,2016-11-10 21:59:02,2016-11-13,12:30:00,2016-11-16,4,240000,120800.0
29,r30,h_34,c_4,2017-03-14 23:02:05,2017-03-14,11:30:00,2017-03-17,2,51000,107400.0
...,...,...,...,...,...,...,...,...,...,...
4000,r4001,h_253,c_993,2017-01-20 18:50:35,2017-02-10,11:00:00,2017-02-12,1,10400,107900.0
4001,r4002,h_263,c_993,2017-02-20 16:13:02,2017-02-27,10:30:00,2017-02-28,3,68700,302300.0
4002,r4003,h_262,c_993,2017-08-01 23:47:40,2017-08-03,10:00:00,2017-08-05,3,114000,273500.0
4003,r4004,h_201,c_993,2017-08-31 01:33:58,2017-09-13,09:30:00,2017-09-15,3,53400,313100.0
4004,r4005,h_150,c_994,2016-03-25 11:51:26,2016-04-02,09:00:00,2016-04-03,1,25200,193100.0
4005,r4006,h_290,c_995,2016-05-14 21:35:27,2016-06-12,10:00:00,2016-06-15,4,190800,236100.0
4006,r4007,h_76,c_995,2016-07-11 06:45:26,2016-07-31,10:30:00,2016-08-03,4,110400,192600.0
4007,r4008,h_52,c_995,2016-11-02 06:42:54,2016-11-27,12:00:00,2016-11-28,3,81300,269400.0
4008,r4009,h_213,c_995,2016-12-10 19:23:02,2016-12-24,12:00:00,2016-12-25,4,20800,326400.0
4009,r4010,h_84,c_995,2017-02-04 02:00:05,2017-03-01,10:00:00,2017-03-04,2,146400,382500.0
4010,r4011,h_137,c_995,2017-08-13 19:23:48,2017-09-07,09:30:00,2017-09-09,1,12400,212500.0
4011,r4012,h_54,c_995,2018-03-08 03:54:07,2018-03-20,10:30:00,2018-03-22,1,25600,248500.0
4012,r4013,h_13,c_995,2018-07-04 18:54:55,2018-07-04,11:00:00,2018-07-05,2,9400,179600.0
4013,r4014,h_27,c_996,2016-05-29 18:33:42,2016-06-11,12:00:00,2016-06-14,3,168300,184400.0
4014,r4015,h_225,c_996,2016-12-03 21:40:17,2016-12-22,11:30:00,2016-12-23,3,21600,47400.0
4015,r4016,h_239,c_996,2016-12-29 02:10:09,2017-01-14,10:30:00,2017-01-16,2,226000,203300.0
4016,r4017,h_96,c_996,2017-06-19 11:26:29,2017-07-05,10:30:00,2017-07-07,2,29600,199300.0
4017,r4018,h_204,c_996,2017-08-20 17:56:37,2017-09-06,12:30:00,2017-09-07,2,24200,415900.0
4018,r4019,h_224,c_996,2017-12-10 19:39:53,2017-12-20,11:30:00,2017-12-23,3,36000,277200.0
4019,r4020,h_243,c_996,2018-04-22 20:41:29,2018-05-21,12:00:00,2018-05-22,2,55400,279800.0
4020,r4021,h_159,c_997,2016-01-08 20:30:10,2016-01-09,12:00:00,2016-01-11,2,258800,89800.0
4021,r4022,h_172,c_997,2016-05-13 09:08:55,2016-06-06,09:30:00,2016-06-08,3,96000,115600.0
4022,r4023,h_4,c_999,2016-04-21 21:50:14,2016-04-22,12:00:00,2016-04-25,4,62400,350200.0
4023,r4024,h_244,c_999,2016-10-06 18:01:34,2016-10-07,11:30:00,2016-10-09,3,59400,410200.0
4024,r4025,h_160,c_999,2017-03-11 11:56:05,2017-03-27,10:00:00,2017-03-30,1,37200,417200.0
4025,r4026,h_129,c_999,2017-06-27 23:00:02,2017-07-10,09:30:00,2017-07-11,2,16000,217800.0
4026,r4027,h_97,c_999,2017-09-29 05:24:57,2017-10-09,10:30:00,2017-10-10,2,41800,159000.0
4027,r4028,h_27,c_999,2018-03-14 05:01:45,2018-04-02,11:30:00,2018-04-04,2,74800,112600.0
4028,r4029,h_48,c_1000,2016-04-16 15:20:17,2016-05-10,09:30:00,2016-05-13,4,540000,95000.0
4029,r4030,h_117,c_1000,2016-06-06 08:16:51,2016-07-06,09:00:00,2016-07-09,1,44100,132600.0

In [271]:
# 【結合】過去n件の平均値
(
df
    .assign(
        price_avg=lambda df: df
                                            .groupby('customer_id')
                                            .apply(
                                                lambda df: df.sort_values(by='reserve_datetime', ascending=True)
                                            )
                                            .loc[:, 'total_price']
                                            .rolling(center=False, window=3, min_periods=3).mean()
                                            .reset_index(drop=True)
    )
    .assign(
        price_avg=lambda df: df
                                            .groupby('customer_id')['price_avg']
                                            .shift(periods=1)
    )
)

,reserve_id,hotel_id,customer_id,reserve_datetime,checkin_date,checkin_time,checkout_date,people_num,total_price,price_avg
0,r1,h_75,c_1,2016-03-06 13:09:42,2016-03-26,10:00:00,2016-03-29,4,97200,NaN
1,r2,h_219,c_1,2016-07-16 23:39:55,2016-07-20,11:30:00,2016-07-21,2,20600,NaN
2,r3,h_179,c_1,2016-09-24 10:03:17,2016-10-19,09:00:00,2016-10-22,2,33600,NaN
3,r4,h_214,c_1,2017-03-08 03:20:10,2017-03-29,11:00:00,2017-03-30,4,194400,50466.666667
4,r5,h_16,c_1,2017-09-05 19:50:37,2017-09-22,10:30:00,2017-09-23,3,68100,82866.666667
5,r6,h_241,c_1,2017-11-27 18:47:05,2017-12-04,12:00:00,2017-12-06,3,36000,98700.000000
6,r7,h_256,c_1,2017-12-29 10:38:36,2018-01-25,10:30:00,2018-01-28,1,103500,99500.000000
7,r8,h_241,c_1,2018-05-26 08:42:51,2018-06-08,10:00:00,2018-06-09,1,6000,69200.000000
8,r9,h_217,c_2,2016-03-05 13:31:06,2016-03-25,09:30:00,2016-03-27,3,68400,NaN
9,r10,h_240,c_2,2016-06-25 09:12:22,2016-07-14,11:00:00,2016-07-17,4,320400,73300.000000
10,r11,h_183,c_2,2016-11-19 12:49:10,2016-12-08,11:00:00,2016-12-11,1,29700,50800.000000
11,r12,h_268,c_2,2017-05-24 10:06:21,2017-06-20,09:00:00,2017-06-21,4,81600,111200.000000
12,r13,h_223,c_2,2017-10-19 03:03:30,2017-10-21,09:30:00,2017-10-23,1,137000,104266.666667
13,r14,h_133,c_2,2018-02-18 05:12:58,2018-03-12,10:00:00,2018-03-15,2,75600,104666.666667
14,r15,h_92,c_2,2018-04-19 11:25:00,2018-05-04,12:30:00,2018-05-05,2,68800,81266.666667
15,r16,h_135,c_2,2018-07-06 04:18:28,2018-07-08,10:00:00,2018-07-09,4,46400,56000.000000
16,r17,h_115,c_3,2016-05-10 12:20:32,2016-05-17,10:00:00,2016-05-19,2,164000,NaN
17,r18,h_132,c_3,2016-10-22 02:18:48,2016-11-12,12:00:00,2016-11-13,1,20400,39900.000000
18,r19,h_23,c_3,2017-01-11 22:54:09,2017-02-08,10:00:00,2017-02-10,3,390600,41300.000000
19,r20,h_292,c_3,2017-02-23 07:10:30,2017-03-03,11:00:00,2017-03-04,2,18200,55066.666667
20,r21,h_153,c_3,2017-04-06 18:12:10,2017-04-16,09:00:00,2017-04-19,3,126900,223866.666667
21,r22,h_12,c_3,2017-07-24 19:15:54,2017-08-08,09:00:00,2017-08-09,4,26800,232566.666667
22,r23,h_61,c_3,2017-12-16 23:31:04,2018-01-09,09:00:00,2018-01-12,1,224400,216033.333333
23,r24,h_34,c_3,2018-04-27 08:51:07,2018-05-07,09:30:00,2018-05-10,4,102000,41133.333333
24,r25,h_277,c_4,2016-03-28 07:17:34,2016-04-07,10:30:00,2016-04-10,1,39300,NaN
25,r26,h_132,c_4,2016-05-11 17:48:07,2016-06-05,11:30:00,2016-06-06,1,20400,71400.000000
26,r27,h_97,c_4,2016-07-08 14:10:06,2016-07-16,10:30:00,2016-07-17,2,41800,71433.333333
27,r28,h_119,c_4,2016-10-07 04:38:54,2016-11-04,10:00:00,2016-11-06,4,52800,47166.666667
28,r29,h_222,c_4,2016-11-10 21:59:02,2016-11-13,12:30:00,2016-11-16,4,240000,21800.000000
29,r30,h_34,c_4,2017-03-14 23:02:05,2017-03-14,11:30:00,2017-03-17,2,51000,40266.666667
...,...,...,...,...,...,...,...,...,...,...
4000,r4001,h_253,c_993,2017-01-20 18:50:35,2017-02-10,11:00:00,2017-02-12,1,10400,50000.000000
4001,r4002,h_263,c_993,2017-02-20 16:13:02,2017-02-27,10:30:00,2017-02-28,3,68700,35966.666667
4002,r4003,h_262,c_993,2017-08-01 23:47:40,2017-08-03,10:00:00,2017-08-05,3,114000,100766.666667
4003,r4004,h_201,c_993,2017-08-31 01:33:58,2017-09-13,09:30:00,2017-09-15,3,53400,91166.666667
4004,r4005,h_150,c_994,2016-03-25 11:51:26,2016-04-02,09:00:00,2016-04-03,1,25200,NaN
4005,r4006,h_290,c_995,2016-05-14 21:35:27,2016-06-12,10:00:00,2016-06-15,4,190800,NaN
4006,r4007,h_76,c_995,2016-07-11 06:45:26,2016-07-31,10:30:00,2016-08-03,4,110400,78700.000000
4007,r4008,h_52,c_995,2016-11-02 06:42:54,2016-11-27,12:00:00,2016-11-28,3,81300,64200.000000
4008,r4009,h_213,c_995,2016-12-10 19:23:02,2016-12-24,12:00:00,2016-12-25,4,20800,89800.000000
4009,r4010,h_84,c_995,2017-02-04 02:00:05,2017-03-01,10:00:00,2017-03-04,2,146400,108800.000000
4010,r4011,h_137,c_995,2017-08-13 19:23:48,2017-09-07,09:30:00,2017-09-09,1,12400,127500.000000
4011,r4012,h_54,c_995,2018-03-08 03:54:07,2018-03-20,10:30:00,2018-03-22,1,25600,70833.333333
4012,r4013,h_13,c_995,2018-07-04 18:54:55,2018-07-04,11:00:00,2018-07-05,2,9400,82833.333333
4013,r4014,h_27,c_996,2016-05-29 18:33:42,2016-06-11,12:00:00,2016-06-14,3,168300,NaN
4014,r4015,h_225,c_996,2016-12-03 21:40:17,2016-12-22,11:30:00,2016-12-23,3,21600,61466.666667
4015,r4016,h_239,c_996,2016-12-29 02:10:09,2017-01-14,10:30:00,2017-01-16,2,226000,15800.000000
4016,r4017,h_96,c_996,2017-06-19 11:26:29,2017-07-05,10:30:00,2017-07-07,2,29600,67766.666667
4017,r4018,h_204,c_996,2017-08-20 17:56:37,2017-09-06,12:30:00,2017-09-07,2,24200,66433.333333
4018,r4019,h_224,c_996,2017-12-10 19:39:53,2017-12-20,11:30:00,2017-12-23,3,36000,138633.333333
4019,r4020,h_243,c_996,2018-04-22 20:41:29,2018-05-21,12:00:00,2018-05-22,2,55400,92400.000000
4020,r4021,h_159,c_997,2016-01-08 20:30:10,2016-01-09,12:00:00,2016-01-11,2,258800,NaN
4021,r4022,h_172,c_997,2016-05-13 09:08:55,2016-06-06,09:30:00,2016-06-08,3,96000,29933.333333
4022,r4023,h_4,c_999,2016-04-21 21:50:14,2016-04-22,12:00:00,2016-04-25,4,62400,NaN
4023,r4024,h_244,c_999,2016-10-06 18:01:34,2016-10-07,11:30:00,2016-10-09,3,59400,116733.333333
4024,r4025,h_160,c_999,2017-03-11 11:56:05,2017-03-27,10:00:00,2017-03-30,1,37200,136733.333333
4025,r4026,h_129,c_999,2017-06-27 23:00:02,2017-07-10,09:30:00,2017-07-11,2,16000,139066.666667
4026,r4027,h_97,c_999,2017-09-29 05:24:57,2017-10-09,10:30:00,2017-10-10,2,41800,72600.000000
4027,r4028,h_27,c_999,2018-03-14 05:01:45,2018-04-02,11:30:00,2018-04-04,2,74800,53000.000000
4028,r4029,h_48,c_1000,2016-04-16 15:20:17,2016-05-10,09:30:00,2016-05-13,4,540000,NaN
4029,r4030,h_117,c_1000,2016-06-06 08:16:51,2016-07-06,09:00:00,2016-07-09,1,44100,31666.666667

In [310]:
# 【結合】過去n日間の合計値
n=-90
(
df
    .assign(
        reserve_datetime=lambda df: pd.to_datetime(df['reserve_datetime'], format='%Y-%m-%d %H:%M:%S')
    )
    .pipe(
        lambda df: pd.merge(
                                df[['reserve_id', 'customer_id', 'reserve_datetime']], 
                                df[['customer_id', 'reserve_datetime', 'total_price']]
                                    .rename(columns ={'reserve_datetime': 'reserve_datetime_before'}), 
                                on ='customer_id')
    )
    .pipe(
        lambda df: df[operator.and_( 
                                df['reserve_datetime'] > df['reserve_datetime_before'], 
                                df['reserve_datetime'] + offsets.Day(n) <= df['reserve_datetime_before']
                                )]
    )
    .groupby('reserve_id')['total_price'].sum()
    .reset_index()
    .rename(columns={
        'total_price': 'total_price_sum'
    })
    .pipe(
        lambda _df: pd.merge(df, _df, on='reserve_id', how='left')
    )
    .fillna(0)
)

,reserve_id,hotel_id,customer_id,reserve_datetime,checkin_date,checkin_time,checkout_date,people_num,total_price,total_price_sum
0,r1,h_75,c_1,2016-03-06 13:09:42,2016-03-26,10:00:00,2016-03-29,4,97200,0.0
1,r2,h_219,c_1,2016-07-16 23:39:55,2016-07-20,11:30:00,2016-07-21,2,20600,0.0
2,r3,h_179,c_1,2016-09-24 10:03:17,2016-10-19,09:00:00,2016-10-22,2,33600,20600.0
3,r4,h_214,c_1,2017-03-08 03:20:10,2017-03-29,11:00:00,2017-03-30,4,194400,0.0
4,r5,h_16,c_1,2017-09-05 19:50:37,2017-09-22,10:30:00,2017-09-23,3,68100,0.0
5,r6,h_241,c_1,2017-11-27 18:47:05,2017-12-04,12:00:00,2017-12-06,3,36000,68100.0
6,r7,h_256,c_1,2017-12-29 10:38:36,2018-01-25,10:30:00,2018-01-28,1,103500,36000.0
7,r8,h_241,c_1,2018-05-26 08:42:51,2018-06-08,10:00:00,2018-06-09,1,6000,0.0
8,r9,h_217,c_2,2016-03-05 13:31:06,2016-03-25,09:30:00,2016-03-27,3,68400,0.0
9,r10,h_240,c_2,2016-06-25 09:12:22,2016-07-14,11:00:00,2016-07-17,4,320400,0.0
10,r11,h_183,c_2,2016-11-19 12:49:10,2016-12-08,11:00:00,2016-12-11,1,29700,0.0
11,r12,h_268,c_2,2017-05-24 10:06:21,2017-06-20,09:00:00,2017-06-21,4,81600,0.0
12,r13,h_223,c_2,2017-10-19 03:03:30,2017-10-21,09:30:00,2017-10-23,1,137000,0.0
13,r14,h_133,c_2,2018-02-18 05:12:58,2018-03-12,10:00:00,2018-03-15,2,75600,0.0
14,r15,h_92,c_2,2018-04-19 11:25:00,2018-05-04,12:30:00,2018-05-05,2,68800,75600.0
15,r16,h_135,c_2,2018-07-06 04:18:28,2018-07-08,10:00:00,2018-07-09,4,46400,68800.0
16,r17,h_115,c_3,2016-05-10 12:20:32,2016-05-17,10:00:00,2016-05-19,2,164000,0.0
17,r18,h_132,c_3,2016-10-22 02:18:48,2016-11-12,12:00:00,2016-11-13,1,20400,0.0
18,r19,h_23,c_3,2017-01-11 22:54:09,2017-02-08,10:00:00,2017-02-10,3,390600,20400.0
19,r20,h_292,c_3,2017-02-23 07:10:30,2017-03-03,11:00:00,2017-03-04,2,18200,390600.0
20,r21,h_153,c_3,2017-04-06 18:12:10,2017-04-16,09:00:00,2017-04-19,3,126900,408800.0
21,r22,h_12,c_3,2017-07-24 19:15:54,2017-08-08,09:00:00,2017-08-09,4,26800,0.0
22,r23,h_61,c_3,2017-12-16 23:31:04,2018-01-09,09:00:00,2018-01-12,1,224400,0.0
23,r24,h_34,c_3,2018-04-27 08:51:07,2018-05-07,09:30:00,2018-05-10,4,102000,0.0
24,r25,h_277,c_4,2016-03-28 07:17:34,2016-04-07,10:30:00,2016-04-10,1,39300,0.0
25,r26,h_132,c_4,2016-05-11 17:48:07,2016-06-05,11:30:00,2016-06-06,1,20400,39300.0
26,r27,h_97,c_4,2016-07-08 14:10:06,2016-07-16,10:30:00,2016-07-17,2,41800,20400.0
27,r28,h_119,c_4,2016-10-07 04:38:54,2016-11-04,10:00:00,2016-11-06,4,52800,0.0
28,r29,h_222,c_4,2016-11-10 21:59:02,2016-11-13,12:30:00,2016-11-16,4,240000,52800.0
29,r30,h_34,c_4,2017-03-14 23:02:05,2017-03-14,11:30:00,2017-03-17,2,51000,0.0
...,...,...,...,...,...,...,...,...,...,...
4000,r4001,h_253,c_993,2017-01-20 18:50:35,2017-02-10,11:00:00,2017-02-12,1,10400,0.0
4001,r4002,h_263,c_993,2017-02-20 16:13:02,2017-02-27,10:30:00,2017-02-28,3,68700,10400.0
4002,r4003,h_262,c_993,2017-08-01 23:47:40,2017-08-03,10:00:00,2017-08-05,3,114000,0.0
4003,r4004,h_201,c_993,2017-08-31 01:33:58,2017-09-13,09:30:00,2017-09-15,3,53400,114000.0
4004,r4005,h_150,c_994,2016-03-25 11:51:26,2016-04-02,09:00:00,2016-04-03,1,25200,0.0
4005,r4006,h_290,c_995,2016-05-14 21:35:27,2016-06-12,10:00:00,2016-06-15,4,190800,0.0
4006,r4007,h_76,c_995,2016-07-11 06:45:26,2016-07-31,10:30:00,2016-08-03,4,110400,190800.0
4007,r4008,h_52,c_995,2016-11-02 06:42:54,2016-11-27,12:00:00,2016-11-28,3,81300,0.0
4008,r4009,h_213,c_995,2016-12-10 19:23:02,2016-12-24,12:00:00,2016-12-25,4,20800,81300.0
4009,r4010,h_84,c_995,2017-02-04 02:00:05,2017-03-01,10:00:00,2017-03-04,2,146400,20800.0
4010,r4011,h_137,c_995,2017-08-13 19:23:48,2017-09-07,09:30:00,2017-09-09,1,12400,0.0
4011,r4012,h_54,c_995,2018-03-08 03:54:07,2018-03-20,10:30:00,2018-03-22,1,25600,0.0
4012,r4013,h_13,c_995,2018-07-04 18:54:55,2018-07-04,11:00:00,2018-07-05,2,9400,0.0
4013,r4014,h_27,c_996,2016-05-29 18:33:42,2016-06-11,12:00:00,2016-06-14,3,168300,0.0
4014,r4015,h_225,c_996,2016-12-03 21:40:17,2016-12-22,11:30:00,2016-12-23,3,21600,0.0
4015,r4016,h_239,c_996,2016-12-29 02:10:09,2017-01-14,10:30:00,2017-01-16,2,226000,21600.0
4016,r4017,h_96,c_996,2017-06-19 11:26:29,2017-07-05,10:30:00,2017-07-07,2,29600,0.0
4017,r4018,h_204,c_996,2017-08-20 17:56:37,2017-09-06,12:30:00,2017-09-07,2,24200,29600.0
4018,r4019,h_224,c_996,2017-12-10 19:39:53,2017-12-20,11:30:00,2017-12-23,3,36000,0.0
4019,r4020,h_243,c_996,2018-04-22 20:41:29,2018-05-21,12:00:00,2018-05-22,2,55400,0.0
4020,r4021,h_159,c_997,2016-01-08 20:30:10,2016-01-09,12:00:00,2016-01-11,2,258800,0.0
4021,r4022,h_172,c_997,2016-05-13 09:08:55,2016-06-06,09:30:00,2016-06-08,3,96000,0.0
4022,r4023,h_4,c_999,2016-04-21 21:50:14,2016-04-22,12:00:00,2016-04-25,4,62400,0.0
4023,r4024,h_244,c_999,2016-10-06 18:01:34,2016-10-07,11:30:00,2016-10-09,3,59400,0.0
4024,r4025,h_160,c_999,2017-03-11 11:56:05,2017-03-27,10:00:00,2017-03-30,1,37200,0.0
4025,r4026,h_129,c_999,2017-06-27 23:00:02,2017-07-10,09:30:00,2017-07-11,2,16000,0.0
4026,r4027,h_97,c_999,2017-09-29 05:24:57,2017-10-09,10:30:00,2017-10-10,2,41800,0.0
4027,r4028,h_27,c_999,2018-03-14 05:01:45,2018-04-02,11:30:00,2018-04-04,2,74800,0.0
4028,r4029,h_48,c_1000,2016-04-16 15:20:17,2016-05-10,09:30:00,2016-05-13,4,540000,0.0
4029,r4030,h_117,c_1000,2016-06-06 08:16:51,2016-07-06,09:00:00,2016-07-09,1,44100,540000.0

In [ ]:
# 【結合】全結合